{% extends "base.html" %}

{% block title %}Formulario de Cliente - RutaMóvil Rural{% endblock %}

{% block content %}

<div class="container">

    <h1 class="text-success mb-4">
        Registrar cliente
    </h1>

    <form method="POST">

        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.nombre.label(class="form-label") }}
            {{ form.nombre(class="form-control") }}

            {% for error in form.nombre.errors %}
                <div class="text-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.telefono.label(class="form-label") }}
            {{ form.telefono(class="form-control") }}

            {% for error in form.telefono.errors %}
                <div class="text-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.comunidad.label(class="form-label") }}
            {{ form.comunidad(class="form-control") }}

            {% for error in form.comunidad.errors %}
                <div class="text-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-success") }}

    </form>

</div>

{% endblock %}