{% extends "base.html" %}

{% block title %}Formulario de Facturación - RutaMóvil Rural{% endblock %}

{% block content %}

<div class="container">

    <h1 class="text-success mb-4">
        Registrar factura
    </h1>

    <form method="POST">

        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.numero.label(class="form-label") }}
            {{ form.numero(class="form-control") }}

            {% for error in form.numero.errors %}
                <div class="text-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.cliente.label(class="form-label") }}
            {{ form.cliente(class="form-control") }}

            {% for error in form.cliente.errors %}
                <div class="text-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.servicio.label(class="form-label") }}
            {{ form.servicio(class="form-control") }}

            {% for error in form.servicio.errors %}
                <div class="text-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.valor.label(class="form-label") }}
            {{ form.valor(class="form-control") }}

            {% for error in form.valor.errors %}
                <div class="text-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-success") }}

    </form>

</div>

{% endblock %}